$parallax-window-height: 30em;
$parallax-background-height: $parallax-window-height * 2;

.parallax-window {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  margin-bottom: 3.5em;
}

.parallax-static-content {
  color: #9A9A8A;
  padding: 7em;
  position: relative;
  z-index: 9;
  background: linear-gradient(to top left, rgba(187, 232, 228, 1), rgba(23, 144, 55, 0.55));
}

.tabletka {
  margin: 0 auto;
  padding: 2em 10em;
  background: #fff;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.parallax-background {
  background: url("/assets/images/or2.jpg") center;
  background-position: top;
  background-size: cover;
  background-color: beige;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}

input#order {
  display: block;
  margin: 21px auto 0;
  border-radius: 30px !important;
  background: $primary-color;
  outline: none;
}

#modorder {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
  opacity: 0;
  transition: all 0.5s;
  cursor: pointer;
}

#form1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  z-index: -1;
  opacity: 0;
  transition: all 0.5s;

  p {
    font-family: 'Exo 2',sans-serif;
    text-align: center;
    color: $primary-color;
    font-size: 18px;
    font-weight: 700;
  }

  input[type="text"] {
    border-color: #8c8c8c;
    color: #000;
  }

  textarea {
    resize: none;
    border-color: #8c8c8c;
    color: #000;
  }

  input[type="submit"] {
    display: block;
    margin: 0 auto;
    background: $primary-color;
  }

}
