ol {
  text-align: left;

}

.images-wrapper_serv {
  background: url("/assets/images/congruent_pentagon.png"),
              linear-gradient($side-image-background-top, $side-image-background-bottom),
  no-repeat $side-image-background-top scroll;
  background-color: $side-image-background-top;
  background-size: cover;
  border-bottom: $side-image-border;
  display: block;
  min-height: 12em;
  padding: 3em;

  @include media($large-screen) {
    @include span-columns(4);
    background-position: bottom;
    background-size: cover;
    border-right: $side-image-border;
  }
}
