#js-fadeInElement
  ul.bullets
    li.bullet.fade-in-element
      .bullet-icon.bullet-icon-1
        i(class="fa fa-check fa-2x" aria-hidden="true")
      .bullet-content
        h2 Проверим
        p
          |состояние учета в Вашей компании: по результатам экспресс-аудита выявим проблемы в учете
    li.bullet.fade-in-element
      .bullet-icon.bullet-icon-1
        i(class="fa fa-puzzle-piece fa-2x" aria-hidden="true")
      .bullet-content
        h2 Вникнем
        p
          |в специфику Вашего бизнеса и проконсультируем относительно особенностей ведения учета Вашей компании
    li.bullet.fade-in-element
      .bullet-icon.bullet-icon-1
        i(class="fa fa-info-circle fa-2x" aria-hidden="true")
      .bullet-content
        h2 Подскажем
        p
          |пути снижения налоговых рисков и подберем пути снижения налоговых нагрузок.

    li.bullet.fade-in-element
      .bullet-icon.bullet-icon-1
        i(class="fa fa-money fa-2x" aria-hidden="true")
      .bullet-content
        h2 Сэкономим
        p
          |Ваши расходы на заработную плату бухгалтера, его рабочего места и программного обеспечения
