header.navigation(role='banner')
  .navigation-wrapper
    a.logo(href='javascript:void(0)')
      span(style="color:#2dff09;") AST
      | BUHGALTER
    a#js-mobile-menu.navigation-menu-button(href='javascript:void(0)') MENU
    nav(role='navigation')
      ul#js-navigation-menu.navigation-menu.show
        li.nav-link
          a.go_to(href='#bo') Главная
        li.nav-link
          a.go_to(href='#content-2') Преимущества
        li.nav-link
          a.go_to(href='#usl') Услуги
        li.nav-link
          a.go_to(href='#sert') Сертификаты
        li.nav-link
          a.go_to(href='#foot') Контакты
    .navigation-tools
      .search-bar
        p
          i(class="fa fa-phone-square" aria-hidden="true")
          span &nbsp;+7(775)994 4743, &nbsp;+7(777)110 3434
