header#navmenu.navigation(role='banner')
  .navigation-wrapper
    a.logo(href='javascript:void(0)')
      span(style="color:#2dff09;") AST
      | BUHGALTER
    a#js-mobile-menu.navigation-menu-button(href='javascript:void(0)') MENU
    nav(role='navigation')
      ul#js-navigation-menu.navigation-menu.show
        li.nav-link
          a(href='javascript:void(0)') Главная
        li.nav-link
          a(href='javascript:void(0)') Услуги
        li.nav-link
          a(href='javascript:void(0)') Преимущества
        li.nav-link
          a(href='javascript:void(0)') Сертификаты
        li.nav-link
          a(href='javascript:void(0)') Контакты
    .navigation-tools
      .search-bar
        p
          i(class="fa fa-phone-square" aria-hidden="true")
          span &nbsp;+7(775)994 4743, &nbsp;+7(777)110 3434
