input#order.order(type='button', value='Оставить заявку', onClick='showMod()')
.modorder#modorder(onClick='hideMod()')
form#form1(action='')
  p Оставьте заявку
  input(type='text',  required="", name="name1", placeholder='Имя')
  input(type='text',  required="", name="phone1", placeholder='Телефон')
  input(type='submit', value='Отправить')
