.side-image
  .side-image-content
    h1 Перечень предоставляемых услуг

    ol
      li •	Комплексное ведение и сопровождение бухгалтерского и налогового учета частных предприятий и малого бизнеса
      li •	Составление годовых отчетов
      li •	Услуги «приходящий бухгалтер»
      li •	Восстановление бухгалтерского учета
      li •	Подготовка и сдача налоговой и статистической отчетности
      li •	Консультация по вопросам налогообложения и ведения бухгалтерского учета.
      li •	Кадровое делопроизводство
      li •	Бухгалтерское сопровождение компаний с иностранным капиталом
      li •	Ликвидация компаний
      li •	Ведение банк-клиента
      li •	Составление нормативных документов, в том числе учетная политика, налоговая политика, правила
      li •	Постановка на электронные счета-фактуры

  .images-wrapper.service
